<style>
  .shopify-test-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>

<div class="shopify-test-grid-wrapper">
  
</div>

{% schema %}
  {
    "name": "Shopify Test",
    "settings": [],
    "presets": [
      {
        "name": "Shopify Test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}