<style>
  
</style>

<div class="shopify-test-wrapper">
  
</div>

{% schema %}
  {
    "name": "Shopify Test",
    "settings": [],
    "presets": [
      {
        "name": "Shopify Test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}